#saved-chats-button {
  background-color: var(--sidebar-bg-color);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.865rem;
}

#saved-chats-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#saved-chats-list {
  margin-top: 5px;
  padding-left: 5px;
}

